h1{
    border: 1px solid red;
}
section:nth-child(2)>ul:nth-child(even):hover{
    text-decoration: underline;
}
span~p{
    background-color: green;
}
ul li{
    border-left: 5px solid black;
}
section:nth-child(even)
{
    background-color: yellow;
}
section:nth-child(7)>h2:hover{
    font-size: 30px;
}
section:nth-child(7)>input:focus {
    background-color: black;
    color: white;
}
a[href*='./p']{
    border-top:2px solid red ;
}